/* Background */
body{
    margin: 0;
    padding: 0;
    cursor: none;
    height: 100vh;
    overflow-x: hidden;
}

.img{
    background-image: url(../image/photo_web_dev.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.nav-pos{
    position: fixed;
    top: 0;
}

.titre1{
    font-size: 50px;
    color: #25FDE9;
}

.bloc-presentation{
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#global{
    margin-left: auto;
    margin-right: auto;
}


/* Présentation section */

.titre{
    font-size: 40px;
    color: #25FDE9;
}

.color{
    color: #25FDE9;
}

.color-white{
    color: white;
}

.texte1{
    font-size: 25px;
}

.text-box{
    font-size: 25px;
}

.w-box{
    width: 30%;
}

.style-box{
    height: 200px;
    border-radius: 5px;
    background-size: cover;
}

.img-box-1{
    background-image: url(../image/photo-web-isabel.png);
}

.img-box-2{
    background-image: url(../image/photo-web-martin.png);
}

.img-box-3{
    background-image: url(../image/photo-web-thelabs.png);
}

.text{
    opacity: 0;
    transition: 1s;
    color: #25FDE9;
    font-size: 26px;
}

.text-one{
    opacity: 1;
    transition: 1s;
    color: #25FDE9;
    font-size: 26px;
}

.border-box{
    border: #25FDE9 1px solid;
    border-radius: 5px;
}

.background-contact{
    border: #25FDE9 1px solid;
    border-radius: 10px;
}

.bg-dark{
    display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  background-color: #25FDE9;
  background-clip: padding-box;
  border: 1px solid #25FDE9;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#bg-button{
    background-color: #25FDE9;
    transition: 1s;
}

#bg-button:hover{
    opacity: 0.5;
    transition: 1s;
}

.bg-b{
    background-color: rgb(00, 000, 000, 0.3);
}

/* cursor */

.cursor{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    animation: Anim1 1s infinite alternate;
    z-index: 300;
    border: 1px dashed #25FDE9;
    pointer-events: none;
    transition: .15s;
}

.cursor2{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 5px;
    height: 5px;
    pointer-events: none;
    z-index: 300;
    background: #25FDE9;
    border-radius: 50%;
}

.expand{
    animation: Anim2 2.5s;
    border: 1px solid #25FDE9;
}

@keyframes  Anim1{
from{
transform: scale(1) rotate(0deg);
}
to{
transform: scale(0.7) rotate(90deg);
}
}

@keyframes  Anim2{
    0%{
    transform: scale(1);
    }
    50%{
    transform: scale(2);
    }
    100%{
    transform:scale(3);
    opacity: 0;
    }
    }

/* loader */

.accueil{
    height: 100%;
    width: 100%;
}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.lettre{
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash{
    0%{
        color: #25FDE9;
        text-shadow: 0 0 7px #25FDE9;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #25FDE9;
        text-shadow: 0 0 7px #25FDE9;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out{
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

[class*="reveal-"]{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

.reveal-2{
    transition-delay: 0.1s;
}

.reveal-3{
    transition-delay: 0.2s;
}

.reveal-4{
    transition-delay: 0.3;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    opacity: 0;
    background: linear-gradient(to top,#25FDE9, #ffffff);
}

.clickScrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgb(170,170,170,0.356);
}

.bloc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-martin{
    width: 40%;
    padding-left: 5%;
}

.bloc-text{
    width: 50%;
    padding-right: 5%;
}

.largeur-parcours{
    width: 50%;
}

.bloc-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

.ouverture{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(00, 000, 000, 0.8);
}

.position-box-1{
    width: 75%;
    height: 85%;
    border: 1px solid #25FDE9;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    transition: 1s;
}

.position-box-2{
    width: 75%;
    height: 85%;
    border: 1px solid #25FDE9;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    transition: 1s;
}

.position-box-3{
    width: 75%;
    height: 85%;
    border: 1px solid #25FDE9;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    transition: 1s;
}

.image-1{
    width: 50%;
    margin-bottom: 5%;
}

.fermeture-modal{
    color: white;
    width: 75%;
}

.fermeture-modal-1{
    color: white;
    width: 75%;
}

.fermeture-modal-2{
    color: white;
    width: 75%;
}

.ouverture-box{
    z-index: 100;
    transition: 1s;
}

.a-lien-box{
    color: white;
    cursor: none;
}

.a-lien-box:hover{
    color: #25FDE9;   
}

.color-lien-reseau:hover{
    color: #25FDE9;
}

@media screen and (min-device-width : 150px) and (max-device-width : 600px){
    .bloc3{
        display: block;
    }
    .bloc2{
        display: block;
    }
    
    .bloc-text{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }
    .img-martin{
        width:100%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .style-texte{
        font-size: 18px;
    }
    .largeur-parcours{
        width: 80%;
    }
    .w-box{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
    }
    p.text{
        opacity: 1;
    }
    .cursor{
        display: none;
    }
    .cursor2{
        display: none;
    }
    .bloc-portfolio{
        flex-direction: column;
        justify-content: center;
    }
    .text-box{
        font-size: 15px;
    }
    .image-1{
        width: 70%;
    }
}